Écrire une requête SQL qui renvoie le titre des westerns sortis depuis 1980.

In [2]:
SELECT *
FROM films
WHERE genre = "Western"
    AND annee >= 1980

idFilm	titre	annee	idRealisateur	genre	resume	codePays
4	Impitoyable	1992	39	Western	Après avoir été un impitoyable tueur, toujours entre deux verres, Bill Munny a raccroché ses colts pour l'amour d'une femme aujourd'hui disparue. Il élève péniblement des cochons dans un enclos boueux, avec pour seuls compagnons ses deux jeunes enfants. Bill reçoit un jour la visite de Schofield Kid, un apprenti desperado qui veut devenir le partenaire de cette légende vivante. Le Kid lui propose de partager les mille dollars offerts par des prostituées de Big Whiskey, une bourgade lointaine, pour l'élimination des deux cow-boys qui ont défiguré l'une d'entre elles. Munny finit par accepter la proposition et rend visite à son vieux complice, Ned Logan...	US
249	The Revenant	2015	48	Western	Dans une Amérique profondément sauvage, le trappeur Hugh Glass est sévèrement blessé et laissé pour mort par un traître de son équipe, John Fitzgerald. Avec sa seule volonté pour unique arme, Glass doit affronter un environnement hostile, un hiver brutal et des tribus guerrières, dans une inexorable lutte pour sa survie, portée par un intense désir de vengeance. [ le film est le remake de : Le Convoi sauvage (1971) ]	CA

Écrire une requête SQL qui renvoie les titres de films dont le résumé parle d'ingénieur ou de tennis.

In [3]:
SELECT *
FROM films
WHERE resume like "%tennis%"
    or resume like "%ingénieur%"

idFilm	titre	annee	idRealisateur	genre	resume	codePays
18	Match point	2005	161	Drame	Jeune professeur de tennis issu d'un milieu modeste, Chris Wilton se fait embaucher dans un club huppé des beaux quartiers de Londres. Il ne tarde pas à sympathiser avec Tom Hewett, un jeune homme de la haute société avec qui il partage sa passion pour l'opéra. Très vite, Chris fréquente régulièrement les Hewett et séduit Chloe, la sœur de Tom. Alors qu'il s'apprête à l'épouser et qu'il voit sa situation sociale se métamorphoser, il fait la connaissance de la ravissante fiancée de Tom, Nola Rice, une jeune Américaine venue tenter sa chance comme comédienne en Angleterre...	US
99	La Grande Illusion	1937	713	Drame	Pendant la Première Guerre mondiale, l'avion du lieutenant Maréchal et du capitaine de Boëldieu est abattu par le commandant von Rauffenstein. Les deux officiers français sont envoyés dans un camp en Allemagne. Ils y retrouvent d'autres prisonniers français, de tous grades et issus de différents milieux sociaux. Les prisonniers organisent différentes activités, partagent leurs maigres ressources et vivent au rythme des nouvelles de l'armée française. La chambrée, outre Maréchal et Boëldieu, regroupe également le lieutenant Demolder, un amoureux des lettres, le lieutenant Rosenthal, fils d'une riche famille juive dans les finances, un ingénieur du cadastre et Cartier, un sergent populaire et volubile. Ils décident de s'échapper du Lager en creusant un tunnel dans des conditions périlleuses. La veille de leur évasion, le sort veut qu'ils soient transférés dans un autre camp.	FR
104	Chinatown	1974	353	Crime	Gittes, détective privé, reçoit la visite d'une fausse Mme Mulwray, qui lui demande de filer son mari, ingénieur des eaux à Los Angeles. Celui-ci est retrouvé mort, noyé. Gittes s'obstine dans son enquête, malgré les menaces de tueurs professionnels.	US
109	L'Inconnu du Nord-Express	1951	275	Crime	Un champion de tennis est abordé dans un train par un inconnu qui lui propose un étrange marché : il supprime sa femme encombrante si celui-ci se charge d'éliminer son propre père. Croyant avoir à faire à un fou, le tennisman ne lui prête aucune attention. Peu de temps après, sa femme est assassinée...	US
203	L'Armée des ombres	1969	370	Guerre	Octobre 1942. " Ingénieur distingué des Ponts et Chaussées, soupçonné de pensée gaulliste, semblant jouir d'une certaine influence ", Philippe Gerbier est interné dans un camp français puis transféré au quartier général de la Gestapo de l'hôtel Majestic à Paris. Il s'en évade en tuant une sentinelle.	FR

Écrire une requête SQL qui renvoie les noms et prénoms des dix plus vieux artistes référencés.

In [4]:
SELECT *
FROM artistes
ORDER BY anneeNaiss
LIMIT 10

idArtiste	nom	prenom	anneeNaiss
794	May Whitty	Dame	1865
796	Bergman	Henry	1868
599	Grapewin	Charley	1869
1171	Stephenson	Henry	1871
401	Greenstreet	Sydney	1879
597	Darwell	Jane	1879
601	Simpson	Russell	1880
1000	Gleason	James	1882
763	Lorne	Marion	1883
611	von Stroheim	Erich	1885

Écrire une requête SQL qui renvoie les noms de rôles joués par plusieurs acteurs différents.

In [5]:
SELECT nomRole,
    count(DISTINCT idActeur) as nb
FROM roles
GROUP BY nomRole
HAVING nb > 1
ORDER BY nb DESC

nomRole	nb
Vincent	4
John	4
Claire	4
Mother	3
Michel	3
Marianne	3
Bill	3
Anna	3
Writer	2
Victor	2
Tom	2
Sylvia	2
Stéphane	2
Sophie	2
Simon	2
Sam	2
Rico	2
Richard	2
Rachel Dawes	2
Michelle	2
Michael	2
Maria	2
Linda	2
Leonard	2
Laura	2
Irène Haffner	2
Helen	2
Father	2
Don Vito Corleone	2
David	2
Daniel	2
Chris	2
Bernard	2
Arthur	2
Anakin Skywalker	2
Amanda	2

Écrire une requête SQL qui renvoie le nom et le prénom des réalisateurs.

In [6]:
SELECT DISTINCT a.nom,
    a.prenom
FROM artistes a
    JOIN films f ON a.idArtiste = f.idRealisateur

nom	prenom
Lucas	George
Tarantino	Quentin
Ford Coppola	Francis
Eastwood	Clint
Gondry	Michel
Cronenberg	David
Kubrick	Stanley
Spielberg	Steven
Burton	Tim
Nolan	Christopher
Scott	Ridley
Scorsese	Martin
McTiernan	John
Allen	Woody
Jackson	Peter
Lee	Ang
von Trier	Lars
Truffaut	François
Coppola	Sofia
Annaud	Jean-Jacques
Hitchcock	Alfred
Cameron	James
Wilder	Billy
Godard	Jean-Luc
Demme	Jonathan
Coen	Joel
Forman	Miloš
Curtiz	Michael
Kurosawa	Akira
Petersen	Wolfgang
Polański	Roman
Leone	Sergio
Fellini	Federico
Bergman	Ingmar
Fincher	David
Raimi	Sam
Verhoeven	Paul
Henckel von Donnersmarck	Florian
Tarkovsky	Andrei
Ford	John
Wachowski	Lilly
Wachowski	Lana
Pollack	Sydney
Singer	Bryan
Murnau	F.W.
Buñuel	Luis
Wyler	William
Woo	John
Faris	Valerie
Renoir	Jean
Lean	David
Lang	Fritz
Kelly	Gene
J. Pakula	Alan
Chaplin	Charlie
Mann	Michael
Lumet	Sidney
Huston	John
Lynch	David
Carpenter	John
González Iñárritu	Alejandro
Lioret	Philippe
Audiard	Jacques
Wiseman	Len
Harlin	Renny
Kershner	Irvin
Marquand	Richard
Meirelles	Fernando
Demy	Jacques
Resnais	Alain
Rohmer	Éric
Laughton	Charles
Welles	Orson
Vidor	Charles
de Broca	Philippe
Tati	Jacques
Donen	Stanley
De Sica	Vittorio
Davis	Andrew
Melville	Jean-Pierre
De Palma	Brian
Coen	Ethan
Lee Jones	Tommy
Oury	Gérard
Visconti	Luchino
Malick	Terrence
Weir	Peter
Besson	Luc
Ferrara	Abel
Gray	James
Boorman	John
Cassavetes	John
Cimino	Michael
Leconte	Patrice
Hazanavicius	Michel
Lautner	Georges
Clouzot	Henri-Georges
Campbell	Martin
Mendes	Sam
Fleischer	Richard
Aronofsky	Darren
Villeneuve	Denis
Moll	Dominik
Ozon	François
Corneau	Alain
Nichols	Jeff
Téchiné	André
Joon-ho	Bong
Abrams	J.J.
Johnson	Rian
Lilti	Thomas
Lonergan	Kenneth
Podalydès	Bruno
McDonagh	Martin
Lanthimos	Yorgos
Triet	Justine
Anspach	Sólveig
Peele	Jordan
Zvyagintsev	Andrey
McKay	Adam
Silhol	Nicolas
Legrand	Xavier
de Peretti	Thierry
Lellouche	Gilles
Brizé	Stéphane
Hers	Mikhaël
Farrelly	Peter
Diop	Mati
Sciamma	Céline
Marcello	Pietro
Ly	Ladj
Pariser	Nicolas
Honoré	Christophe

Écrire une requête SQL qui renvoie le nom et le prénom des acteurs qui ont joué le rôle d'un Skywalker.

In [7]:
SELECT DISTINCT a.nom,
    a.prenom
FROM artistes a
    JOIN roles r ON a.idArtiste = r.idActeur
WHERE r.nomRole like "%Skywalker%"

nom	prenom
Hamill	Mark
Christensen	Hayden
Lloyd	Jake

Écrire une requête SQL qui renvoie le nom et le prénom des acteurs qui ont tourné dans \og Les tontons flingueurs\fg{}. On pourra utiliser le numéro du film 210 ou mieux : le faire trouver dans la base avec une requête imbriquée.

In [8]:
SELECT a.nom,
    a.prenom
FROM artistes a
    JOIN roles r ON a.idArtiste = r.idActeur
WHERE r.idFilm = 210

nom	prenom
Ventura	Lino
Frank	Horst
Dalban	Robert
Blier	Bernard
Rich	Claude
Sinjen	Sabine
Lefebvre	Jean
Bertin	Pierre
Blanche	Francis

In [11]:
SELECT nom,
    prenom
FROM artistes a
    JOIN roles r ON a.idArtiste = r.idActeur
WHERE r.idFilm =(
        SELECT idFilm
        FROM films
        WHERE titre = "Les tontons flingueurs"
    )

nom	prenom
Ventura	Lino
Frank	Horst
Dalban	Robert
Blier	Bernard
Rich	Claude
Sinjen	Sabine
Lefebvre	Jean
Bertin	Pierre
Blanche	Francis

Écrire une requête SQL qui renvoie le nom et le prénom des réalisateurs qui ont réalisé leur premier film (référencé) avant l'âge de $30$ ans. Renvoyer aussi leur âge au moment de ce premier film.

In [12]:
SELECT a.nom,
    a.prenom,
    min(f.annee - a.anneeNaiss) as age
FROM artistes a
    JOIN films f ON a.idArtiste = f.idRealisateur
GROUP BY a.idArtiste
HAVING age <= 30
ORDER BY age

nom	prenom	age
Spielberg	Steven	25
Truffaut	François	27
Kubrick	Stanley	28
Lucas	George	29
Tarantino	Quentin	29
Coppola	Sofia	29
Nolan	Christopher	30
Coen	Joel	30
Cameron	James	30
Godard	Jean-Luc	30
Singer	Bryan	30

Écrire une requête SQL qui renvoie les noms et prénoms des dix acteurs qui ont tourné plus de cinq films. Renvoyer aussi le nombre de films et trier par ordre décroissant du nombre de films.

In [13]:
SELECT a.nom,
    a.prenom,
    count(DISTINCT r.idFilm) as nb
FROM artistes a
    JOIN roles r ON a.idArtiste = r.idActeur
GROUP BY a.idArtiste
HAVING nb >= 5
ORDER BY nb DESC

nom	prenom	nb
Ford	Harrison	13
De Niro	Robert	8
Pacino	Al	7
Dunst	Kirsten	7
L. Jackson	Samuel	6
Mortensen	Viggo	6
Fisher	Carrie	6
Lacoste	Vincent	5
Hurt	John	5
Caine	Michael	5
Keaton	Diane	5
Keitel	Harvey	5
Rhys-Davies	John	5
Pitt	Brad	5
Willis	Bruce	5
Deneuve	Catherine	5
Hamill	Mark	5

Écrire une requête SQL qui renvoie les pays (codePays) qui ont produit au moins $3$ drames. Renvoyer aussi le nombre de drames produits et classer selon ce nombre dans l'ordre décroissant.

In [14]:
SELECT DISTINCT codePays,
    count(idFilm) as nb
FROM films
WHERE genre = "Drame"
group by codePays
HAVING nb >= 3
ORDER BY nb DESC

codePays	nb
US	43
FR	21
DE	6
GB	5
CA	4
SE	3
RU	3
BE	3

Écrire une requête SQL qui renvoie les artistes qui sont à la fois acteurs et réalisateurs.

In [15]:
SELECT a.nom,
    a.prenom
FROM artistes a
    JOIN (
        SELECT DISTINCT idRealisateur as id
        FROM films
        INTERSECT
        SELECT DISTINCT idActeur
        FROM roles
    ) b ON a.idArtiste = b.id
ORDER BY a.nom

nom	prenom
Allen	Woody
Cassavetes	John
Chaplin	Charlie
Coppola	Sofia
Eastwood	Clint
Huston	John
Kelly	Gene
Lang	Fritz
Laughton	Charles
Lee Jones	Tommy
Podalydès	Bruno
Polański	Roman
Pollack	Sydney
Tarantino	Quentin
Tati	Jacques
Truffaut	François
Welles	Orson

Écrire une requête SQL qui renvoie les artistes qui sont à la fois acteurs et réalisateurs mais sur un même film.

In [16]:
SELECT nom,
    prenom
FROM artistes
WHERE idArtiste in (
        SELECT DISTINCT f.idRealisateur
        FROM films f
            JOIN roles r ON f.idFilm = r.idFilm
        WHERE f.idRealisateur = r.idActeur
    )

nom	prenom
Welles	Orson
Tarantino	Quentin
Eastwood	Clint
Allen	Woody
Truffaut	François
Lee Jones	Tommy
Polański	Roman
Tati	Jacques
Cassavetes	John
Kelly	Gene
Chaplin	Charlie
Podalydès	Bruno

Écrire une requête SQL qui renvoie les noms et prénoms des acteurs qui ont tourné des films dans au moins $4$ genres différents. Renvoyer aussi le nombre de genres différents et trier selon ce nombre décroissant.

In [17]:
SELECT a.nom,
    a.prenom,
    b.nb
FROM artistes a
    JOIN (
        SELECT r.idActeur,
            count(DISTINCT f.genre) as nb
        FROM films f
            JOIN roles r ON f.idFilm = r.idFilm
        GROUP BY r.idActeur
    ) b ON a.idArtiste = b.idActeur
WHERE b.nb >= 4
ORDER BY b.nb DESC

nom	prenom	nb
Dunst	Kirsten	5
L. Jackson	Samuel	5
Ford	Harrison	4
Fisher	Carrie	4
Deneuve	Catherine	4
Plummer	Christopher	4
De Niro	Robert	4
Cruise	Tom	4
Nicholson	Jack	4
Fishburne	Laurence	4
Streep	Meryl	4
Craig	Daniel	4
Driver	Adam	4