## Exercice 2

1. Écrire une requête SQL qui donne pour chaque station : la ville, l'adresse, le type de carburant et le prix correspondant.

In [ ]:
SELECT ville, adresse, prix_nom, prix_valeur
FROM prix

2. Écrire une requête SQL qui donne la liste des villes, adresses et prix du sans plomb 95 pour les  stations de Saône-et-Loire. Les trier par prix croissant.

In [ ]:
SELECT ville, adresse, prix_valeur
FROM prix
WHERE prix_nom="SP95" AND dep_name="Saône-et-Loire"
ORDER BY prix_valeur ASC

3. Écrire une requête SQL qui donne les communes et le numéro de département des stations proposant du E85 en Bourgogne-Franche-Comté. On ne veut chaque commune qu'une fois.

In [ ]:
SELECT DISTINCT com_name, dep_code
FROM prix
WHERE reg_name="Bourgogne-Franche-Comté" AND prix_nom="E85"

4. Écrire une requête SQL qui donne la liste des villes où on trouve du E10 à un prix supérieur à $2$ € par litre. Trier par ordre alphabétique.

In [ ]:
SELECT DISTINCT ville
FROM prix
WHERE prix_nom="E10" AND prix_valeur>=2
ORDER BY ville

5. Écrire une requête SQL qui renvoie les $10$ stations les plus chères de France en gazole hors Paris, les trier par prix décroissant.

In [ ]:
SELECT ville, adresse
FROM prix
WHERE prix_nom="Gazole" AND com_name<>"Paris"
ORDER BY prix_valeur DESC
LIMIT 10

## Exercice 3

1. Écrire une requête SQL qui renvoie le prix moyen en France pour chaque carburant ; nommer « prix moyen » la colonne de prix.

In [ ]:
SELECT prix_nom,AVG(prix_valeur) AS "prix moyen"
FROM prix
GROUP BY prix_nom
ORDER BY "prix moyen"

2. Écrire une requête SQL qui renvoie le prix maximal du sans plomb 98 par région.

In [ ]:
SELECT reg_name,MAX(prix_valeur)
FROM prix
WHERE prix_nom="SP98"
GROUP BY reg_name

3. Écrire une requête SQL qui renvoie les 20 stations où l'écart entre le carburant le plus cher et le moins cher est le plus grand.

In [ ]:
SELECT adresse, ville, MAX(prix_valeur)-MIN(prix_valeur) AS ecart
FROM prix
GROUP BY id
ORDER BY ecart DESC
LIMIT 20

4. Écrire une requête SQL qui renvoie la liste des stations qui proposent au plus deux carburants (il y a pénurie !)

In [ ]:
SELECT ville, adresse
FROM prix
GROUP BY id
HAVING COUNT(prix_nom)<=2

5. Écrire une requête SQL qui renvoie la liste des départements où le prix moyen du gazole est supérieur à la moyenne nationale.

In [ ]:
SELECT DISTINCT(dep_name)
FROM prix
WHERE prix_nom="Gazole" 
GROUP BY dep_name
HAVING AVG(prix_valeur)>= (SELECT AVG(prix_valeur) FROM prix WHERE prix_nom="Gazole")